#about {
    width: 100%;
    height: 100vh;
    padding: 0 10em;
    // background-color: rgb(32, 32, 32);
    background-image: linear-gradient(180deg,
            hsl(0deg 0% 10%) 0%,
            hsl(0deg 0% 10%) 1%,
            hsl(0deg 0% 9%) 2%,
            hsl(0deg 0% 9%) 4%,
            hsl(0deg 0% 8%) 6%,
            hsl(0deg 0% 8%) 8%,
            hsl(0deg 0% 7%) 12%,
            hsl(0deg 0% 7%) 17%,
            hsl(0deg 0% 6%) 23%,
            hsl(0deg 0% 5%) 34%,
            hsl(0deg 0% 4%) 52%,
            hsl(0deg 0% 3%) 85%,
            hsl(0deg 0% 0%) 100%);
    color: rgb(255, 255, 255);
    scroll-snap-align: start;
}

#section-title-about {
    text-align: left;
    font-size: 3em;
    font-family: 'Reem Kufi Fun', sans-serif;
    padding: 1em 0;
}

#about-container {
    width: 100%;
}

.about-description {
    font-family: 'Reem Kufi Fun', sans-serif;
    padding: 2em 0;
    font-size: 2em;
}

#skills-list {
    font-family: 'Reem Kufi Fun', sans-serif;
    padding-left: 2em;
    font-size: 1.8em;
    display: flex;
    justify-content: space-around;
    background: linear-gradient(271deg, #a0e9ff 30%, #a162e8 50%, #f093b0 70%, #edca85 94%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tec {
    text-align: center;
    font-size: 2.5em;
}