.section-title {
    text-align: center;
    font-size: 3em;
    font-family: 'Reem Kufi Fun', sans-serif;
    padding: 2em;
}

.section-subtitle {
    font-family: 'Reem Kufi Fun', sans-serif;
    font-size: 2.5em;
}